# DS 3000/CS 3200 Lab 1

Due: Tuesday May 13 in-class

### Submission Instructions
Upload this `ipynb` file to GitHub, and then to Gradescope.  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to GitHub and verify that the correct version is represented on Gradescope.

### Tips for success
- Collaborate: bounce ideas off of each other, if you are having trouble you can ask your classmates or Dr. Gerber for help with specific issues, however...
- [(See)](http://www.northeastern.edu/osccr/academic-integrity), i.e. you are welcome to **talk about/discuss** (*not* show or allow each other to copy your answers to) the problems.

# Part 1 (40 points): Intro to Markdown

Use the markdown language below to create your own brief wikipedia-esque description of a topic related to International Government and Politics. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a **markdown** table of size at least 9 cells (i.e. 3 by 3, or 5 by 2)
- a list in **markdown**
- a link to another website

To practice typing in math mode, also include a LaTeX formula describing how your final grade is going to be calculated based on the syllabus, something like:

$$grade = weight_1*score_1 + weight_2*score_2$$

Please be **brief** in your text.  Aim for roughly 3 sentences total of text.

# Human Rights
This page serves as an introduction to human rights.

## What are human rights?
Human rights are universal rights that all humans, regardless of nationality, sex, national or ethnic origin, color, religion, language, or any other status, should be granted. All human rights are indivisible and interdependent, meaning that rights must exist and work together. They are equal and non-discriminatory.

### Examples of human rights
* Right to Life
* Freedom from Torture and Cruel Treatment
* Right to Education

| Type of violation | Description |
|------|-----|
| Civil | when someone's basic rights are violated by another individual, group, or public authority, particularly within the context of civil and political rights | 
| Political   | when state or non-state actors infringe upon the fundamental rights and freedoms of individuals, particularly those related to civil and political participation | 
| Economic   | when a government or other entity fails to uphold the economic, social, and cultural rights of individuals or groups | 
| Social   | when a person's social rights, which are related to their well-being and quality of life, are infringed upon | 
| Cultural   | when a state fails to respect, protect, or fulfill cultural rights | 

Here is a [link](https://www.un.org/en/about-us/universal-declaration-of-human-rights) to learn more about human rights!

Link if hyperlink isn't working: https://www.un.org/en/about-us/universal-declaration-of-human-rights

![human rights]()

# Part 2: Numpy
## Part 2.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library and then print them out. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [7]:
# make sure to import numpy library
import numpy as np

In [8]:
array_a = np.array([[3, 8, -2, 3], [.5, -1, 6, 4], [-5, 7, -42, 2]])
array_b = np.array([[42, 38, 34], [30, 26, 22], [18, 14, 10], [6, 2, -2], [-6, -10, -14]])

In [9]:
# uncomment below to print array_a
array_a

array([[  3. ,   8. ,  -2. ,   3. ],
       [  0.5,  -1. ,   6. ,   4. ],
       [ -5. ,   7. , -42. ,   2. ]])

In [10]:
# uncomment below to print array_b
array_b

array([[ 42,  38,  34],
       [ 30,  26,  22],
       [ 18,  14,  10],
       [  6,   2,  -2],
       [ -6, -10, -14]])

## Part 2.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b` (*prove* and *show* you did this with commented out code), then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [12]:
print('Array A shape:', array_a.shape, '\nArray A size:', array_a.size, '\nArray A ndim:', array_a.ndim, '\nArray A nbytes:', array_a.nbytes)
print()
print('Array B shape:', array_b.shape, '\nArray B size:', array_b.size, '\nArray B ndim:', array_b.ndim, '\nArray B nbytes:', array_b.nbytes)

Array A shape: (3, 4)
Array A size: 12
Array A ndim: 2
Array A nbytes: 96

Array B shape: (5, 3)
Array B size: 15
Array B ndim: 2
Array B nbytes: 120

In [13]:
t_array_a = array_a.T
t_array_a

array([[  3. ,   0.5,  -5. ],
       [  8. ,  -1. ,   7. ],
       [ -2. ,   6. , -42. ],
       [  3. ,   4. ,   2. ]])

In [14]:
t_array_b = array_b.T
t_array_b

array([[ 42,  30,  18,   6,  -6],
       [ 38,  26,  14,   2, -10],
       [ 34,  22,  10,  -2, -14]])

In [15]:
# added = np.add(array_a, t_array_b)

In [16]:
t_array_b = t_array_b[0:3, 0:4]
t_array_b

array([[42, 30, 18,  6],
       [38, 26, 14,  2],
       [34, 22, 10, -2]])

In [17]:
array_a.shape

(3, 4)

In [18]:
t_array_b.shape

(3, 4)

In [19]:
added = np.add(array_a, t_array_b)
added

array([[ 45. ,  38. ,  16. ,   9. ],
       [ 38.5,  25. ,  20. ,   6. ],
       [ 29. ,  29. , -32. ,   0. ]])

What happened: The first time I tried to add the arrays, I got an error message saying 'ValueError: operands could not be broadcast together with shapes (4,3) (3,5)'. This is because the two arrays were not the same shape, and in order to add arrays together, they need to be the same shape. So, adding arrays of shapes (4,3) and (3,4) would not work, but adding arrays of either (4,3) and (4,3) or (3,4) and (3,4) would work. Since both arrays at the end were of shape (3,4), they were able to be added together.

# Part 3: Pandas
## Part 3.1: Reading in Data (5 points)

On Canvas is the `train_stations_europe.csv` file. It was adapted from [this Kaggle data set](https://www.kaggle.com/datasets/headsortails/train-stations-in-europe). Read this data set in, using the `id` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [22]:
# make sure to import pandas library
import pandas as pd

In [23]:
df = pd.read_csv('train_stations_europe.csv', index_col = 'id')
df.head()

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1,Chateau-Arnoux-St-Auban,44.081790,6.001625,NaN,FR,Europe/Paris,True,False,False
2,Chateau-Arnoux-St-Auban,44.061565,5.997373,1.0,FR,Europe/Paris,False,True,False
3,Chateau-Arnoux Mairie,44.063863,6.011248,1.0,FR,Europe/Paris,False,False,False
4,Digne-les-Bains,44.350000,6.350000,NaN,FR,Europe/Paris,True,False,False
6,Digne-les-Bains,44.088710,6.222982,4.0,FR,Europe/Paris,False,True,False

## Part 3.2: Manipulating Data (20 points)

1. Create a subset of the data set which (a) **includes** only train stations in Belgium and (b) **excludes** all train stations which are **not** in a city. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the subset from the previous part. Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [25]:
filtered_df = df[(df['country'] == 'BE') & (df['is_city'] == False)]
filtered_df.head()

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1121,Tournai Frontiere,NaN,NaN,NaN,BE,Europe/Brussels,False,False,False
1122,Froyennes,NaN,NaN,NaN,BE,Europe/Brussels,False,False,False
1313,Mouscron,NaN,NaN,NaN,BE,Europe/Brussels,False,False,False
1354,Quevy Frontiere,NaN,NaN,6003.0,BE,Europe/Brussels,False,False,False
5893,Bruxelles-Midi,50.835374,4.335695,5974.0,BE,Europe/Brussels,False,True,False

In [26]:
filtered_df.describe()

NameError: name 'final_df' is not defined

What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

The `.describe()` function ran on the Series columns latitude, longitude, and parent_station_id. It did not run on the Series columns name, country, time_zone, is_city, is_main_station, and is_airport. The difference between these columns is that the columns that `.describe()` ran on were numerical, while the columns that `.describe()` were non-numerical. This means that the `.describe()` function is used to extract statistics from numerical values.

# Part 4: GitHub (10 points)

When you finish the first three parts, give one last restart and run all to this file. Then, go to the [DS 3000 GitHub](https://github.com/eaegerber/ds3000_summer25), fork it and then clone it to your local machine. Then:

- In the forked and cloned ds3000_summer25 repo, make a new branch (`git checkout -b lab-upload`)
- Create a folder with your name (as Dr. Gerber did)
- Navigate to that folder and place this jupyter notebook inside
- Add the file as the change to be committed (`git add .\Lab1_MyName.ipynb`)
- Check `git status`, your changes should be staged
- Commit the changes with a short message (`git commit -m "My message"`)
- Push the repository to GitHub (`git push origin lab-upload`)
- Navigate the the GitHub in the browser and create a pull request
- Once the pull request is merged, you can delete your branch in the "Pull Requests" tab in the browser
- Finally, upload the Lab to Gradescope. When you do so, it will give you the option to do it via GitHub; do that.